<div class="modal-header">
    <div class="modal-title">
        {{modalTitle}}
    </div>
</div>
<form name="registerForm" role="form">
    <div class="modal-body">
        <div class="form-group">
            <input type="text" name="storeName" value="" placeholder="店舗名" class="form-control" ng-model="store.storeName" required="">
        </div>
        <div class="form-group">
            <input type="text" name="storeTel" placeholder="電話番号" class="form-control" value="" ng-model="store.storeTel">
        </div>
        <div class="form-group">
            <input type="text" name="storeType" placeholder="種類" class="form-control" value="" ng-model="store.storeType">
        </div>
        <div class="form-group">
            <input type="text" name="storeSeen" placeholder="シーン" class="form-control" value="" ng-model="store.storeSeen">
        </div>
        <div class="form-group">
            <input type="text" name="storeRate" placeholder="レート" class="form-control" value="" ng-model="store.storeRate">
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="registerForm.$invalid" ng-click="modalRegister()">登録</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
</div>
