<div ng-controller="MembersController">
    <h1 class="page-header">Members&nbsp;&nbsp;<small>Angularの機能モック</small></h1>
    <br>
    <div class="row">
        <div class="container-fluid">
            <h3 class="page-header">GoogleChart</h1>
            <div google-chart chart="data">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <button type="button" name="button" ng-click="showModal()" class="btn btn-primary">モーダルを開く</button>
            <ul ng-repeat="list in lists">
                <li ng-bind="list.name"></li>
            </ul>
        </div>
    </div>

</div>
