<!-- ログイン画面 -->
<h1 class="page-header">Sgin In</h1>
<div ng-controller="ValidateController">
  <form class="form-horizontal" action="#" method="post" name="loginForm">
      <div class="form-group">
          <div class="col-md-offset-8 col-md-4 col-xs-offset-1 col-xs-10">
              <input type="email" name="email" value="" placeholder="E-mail" class="form-control" required ng-model="email">
              <!-- バリデーション -->
              <span ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                <span ng-repeat="error in errors">
                  <span ng-message-exp="error.type" class="text-primary small">{{error.message}}</span>
                </span>
              </span>
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-offset-8 col-md-4 col-xs-offset-1 col-xs-10">
              <input type="password" name="password" value=""  placeholder="Password" class="form-control" required ng-model="password">
              <!-- バリデーション -->
              <span ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                <span ng-repeat="error in errors">
                  <span ng-message-exp="error.type" class="text-primary small">{{error.message}}</span>
                </span>
              </span>
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-offset-11 col-md-1 col-xs-offset-1 col-xs-10">
              <button type="button" name="loginBtn" class="btn btn-primary form-control" ng-click="login()" ng-disabled="loginForm.$invalid">Login</button>
          </div>
      </div>
  </form>
</div>
